<form [formGroup]="inputFormGroup" id="form" class="w-fill">
  <div class="d-flex flex-row bd-highlight mb-3">
    <div class="form-group row" style="width: 60%;">
      <label class="col-sm-2 col-form-label">Employee Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="name" placeholder="Enter Employee Name"></div>
      <label class="col-sm-2 col-form-label">Department</label>
      <div class="col-sm-10 mb-4">
        <select class="form-control" formControlName="department">
          <option>--Select--</option>
          <option *ngFor="let depName of DepartmentsList"> {{depName.name}} </option>
        </select>
      </div>
      <label class="col-sm-2 col-form-label">Date of joining</label>
      <div class="col-sm-10">
        <input type="date" formControlName="created_at" class="adddate">
      </div>
    </div>
  </div>
</form>
