/* You can add global styles to this file, and also import other style files */
.approotcls {
  height: 100%;
  display: contents;
}

body {
  color: #fafafa;
  text-align: left;
  background-color: #1f1f1f;
}

.btn-primary {
  background-color: #924824 !important;
  border-color: #924824 !important;
}

button, input {
  outline: none !important;
  box-shadow: none !important;
}
